.container-main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: auto;
 
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  height: 450px;
  overflow-y: auto;
}

h1 {
  margin: 10px 0 60px;
}

.container::-webkit-scrollbar{
 width: 10px;

}

::-webkit-scrollbar-thumb {
  background-color: #E1EAFF; 
  border-radius: 10px; 
  border: 2px solid #E1EAFF;  
}


.container input{
  margin: auto;
  width: 470px;
  text-align: center;
  border-radius: 4px;
  border: 3px solid #E1EAFF;
  grid-column: 1 / -1;
  color: black;
}

h1{
  grid-column: 1 / -1;
  text-align: center;
}



.img img{
max-width: 100%;
}